server:
  port: 9000
  
spring:
  application:
    name: Server-Consumer
    
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8080/eureka/
#      ,http://localhost:8081/eureka/

feign:
  hystrix:
    enabled: false
logging:
  level:
    com:
      example:
        demo:
          service:
            UserService: debug
